/* Estilo para impressora */

*{
    margin: 2%;
    padding: 2%;
}

html{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    line-height: 1.5em;
}

menu{
    display: none;
}

article::after{
    content: 'Esse artigo foi impresso através do site www.cursoemvideo.com';
}

article{
    width: 100%;
    padding: 0;
}